# Python
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
db.sqlite3
.vscode/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
*.env
**/.env

# Django
media/
/static

# Node
node_modules/
dist/