/* Asegúrate de que el contenedor ocupe toda la altura de la ventana */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: aqua;
}




