*:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  --primary-backkground-color:#fff;
}
[data-theme="dark"]{
  --primary-backkground-color:#222;
}
.container{
  width: 100vw;
  min-height: 100vh;
  background: var(--primary-backkground-color);
  transition: 0.5s;
}
.container.dark{
  background: #222;
}

